*

!README.md
!.gitignore
!game/
!content/
!*/dota_addons/
!*/dota_addons/dota_butts_tournament/
!*/dota_addons/dota_butts_tournament/**

*/dota_addons/dota_butts_tournament/*.bin
#includes readonly

game/dota_addons/dota_butts_tournament/soundevents/**
game/dota_addons/dota_butts_tournament/panorama_debugger.cfg